
#player {
    position: absolute;
    z-index: 1;
}
#runde {
    color: #777777;
    opacity: 0.9;
}
#overlay {
    background-color: #A8ABAC;
    opacity: 0.8;
    position: relative;
    z-index: 75;
}
.popud {
    background-color: black;
    background-image: none;
    border: medium none;
    border-radius: 10px 10px 10px 10px;
    opacity: 0.9;
    padding: 38px;
    position: absolute;
    top: 100px;
    z-index: 100;
}
h4 {
    font-size: 10pt;
    position: relative;
}
td {
    margin: 3px;
}
body {
    color: white;
    font-family: "Arial",sans-serif;
    font-size: 18px;
}
.imgspan {
    cursor: pointer;
    font-size: 18px !important;
    position: relative;
    top: 0;
}
h3 {
    font-size: 21px;
}
#time {
    background-color: #777777;
    color: white;
    font-size: 10px;
    position: absolute;
    top: 379px;
    width: 660px;
}
.html5-video-container {
    background-color: white;
}
